* {
  font-family: "Lato", sans-serif;
  margin: 0;
}
:root {
  --Purple: #824085;
  --gray: #8688a6;
  --white: #edf8f8;
  --black: #100421;
  --soft-pink: #f8f2f3;
}
body {
  background-color: var(--soft-pink);
}
header {
  font-size: 1rem;
  border: 0;
  width: 100%;
  padding: auto;
  margin: 1rem 0;
}

h1 {
  text-align: center;
  font-weight: 900;
}
h2 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 2rem 0;
  margin-bottom: 4rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

#mainGenre,
#sort,
#compute {
  border-radius: 1.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  background: var(--Purple);
  color: var(--white);
  height: 3rem;
  width: 8rem;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

select option {
  color: var(--black);
  background-color: var(--white);
}

#mainGenre:hover {
  background-color: var(--gray);
}
#sort:hover {
  background-color: var(--gray);
}
#compute:hover {
  background-color: var(--gray);
}
/* #buttonClear,
#api-key,
#goToChatGrupalBtn {
  background-color: var(--white);
    font-weight: 700;
    height: 3rem;
    width: 6rem;
    font-size: 0.8rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 0.2rem;
} */


#buttonClear:hover,
#api-key,
#goToChatGrupalBtn {
  background-color: var(--gray);
} 
.styleUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 3rem;
  gap: 3rem;
}
.styleLi {
  width: 20rem;
  height: 35rem;
  margin-bottom: 1rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.styleLi img {
  width: 20rem;
  height: 21rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.styleLi .nameSinger {
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: start;
}

.shortDescription {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.styleLi {
  text-align: justify;
}
span {
  font-weight: 900;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--gray);
  color: var(--white);
  text-align: center;
  padding: 10px;
  font-weight: 700;
}
#conteinerCompute{
  font-size: 0.7rem;
  font-weight: 700;
}
.grid {
  display: none;
}
.contenedorCards {
  margin: 0 auto;
  max-width: 120rem;
  width: 90%;
}
@media (min-width: 500px) {
  header {
    font-size: 3.5rem;
    margin: 3rem auto;
  }
  h2 {
    font-size: 2.5rem;
    margin-top: 0;
  }
  .flex-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #buttonClear,
  #api-key,
  #goToChatGrupalBtn {
    font-weight: 900;
    height: 4rem;
    width: 10rem;
    font-size: 1rem;
    box-shadow:  
    5px 0px rgba(124, 1, 118, 0.5),
    0px 5px 0px rgba(87, 1, 104, 0.5);
    background-color: var(--soft-pink);
    border-color: purple;
    border-radius: .5rem;
    margin-top: 0.2rem;
  }

  #buttonClear:hover,
  #api-key:hover,
  #goToChatGrupalBtn:hover {
  background-color: var(--gray);
}
  #mainGenre,
  #sort,
  #compute {
    font-size: 1rem;
    font-weight: 900;
    height: 4rem;
    width: 10rem;
  }
  #conteinerCompute {
    font-size: 1.5rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8rem;
      background-color: white;
    }

    .segundo-grupo {
      text-align: center;
      display: flex;
      flex-direction: row;
    justify-content: space-around;
    }
}
